# Importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Import dataset

In [8]:
train_df = pd.read_csv(r'C:\Users\hsripuram\Desktop\MLPractice\Titanic-1\train.csv')
test_df = pd.read_csv(r'C:\Users\hsripuram\Desktop\MLPractice\Titanic-1\test.csv')

In [4]:
train_df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# what features are available on the dataset

In [15]:
train_df.columns.values

array(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'], dtype=object)

In [17]:
train_df.describe(include=['O'])

                           Name   Sex Ticket    Cabin Embarked
count                       891   891    891      204      889
unique                      891     2    681      147        3
top     McKane, Mr. Peter David  male   1601  B96 B98        S
freq                          1   577      7        4      644

# which features are categorical

In [16]:
s = (train_df.dtypes == 'object')
object_cols = list(s[s].index)

print('Categorical variables: ', object_cols)

Categorical variables:  ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

# finding patterns in train

In [5]:
women = train_df.loc[train_df.Sex=='female']['Survived']
rate = sum(women) / len(women)

print('% of women who survived: ', rate)

% of women who survived:  0.7420382165605095

In [6]:
men = train_df.loc[train_df.Sex=='male']['Survived']
rate_men = sum(men)/len(men)

print('% of men who survived: ', rate_men)

% of men who survived:  0.18890814558058924

# Use random forest machine learning model

In [9]:
features = ['Pclass', 'Sex', 'SibSp', 'Parch']
X = pd.get_dummies(train_df[features])
X_test = pd.get_dummies(test_df[features])

In [10]:
y = train_df['Survived']

In [12]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

# Saving the output predictions to csv file

In [13]:
output = pd.DataFrame({'PassengerId': test_df.PassengerId, 'Survived': predictions})
output.to_csv('mysubmission.csv', index=False)
print('Your submission was successfully saved!')

Your submission was successfully saved!

In [18]:
train_df[['Pclass','Survived']].groupby(['Pclass'], as_index=False).mean().sort_values(by='Survived', ascending =False)

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

In [19]:
train_df[['Sex','Survived']].groupby(['Sex'], as_index=False).mean().sort_values(by='Survived', ascending=False)

      Sex  Survived
0  female  0.742038
1    male  0.188908

In [20]:
train_df[['SibSp','Survived']].groupby(['SibSp'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   SibSp  Survived
1      1  0.535885
2      2  0.464286
0      0  0.345395
3      3  0.250000
4      4  0.166667
5      5  0.000000
6      8  0.000000

In [21]:
train_df[["Parch", "Survived"]].groupby(['Parch'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   Parch  Survived
3      3  0.600000
1      1  0.550847
2      2  0.500000
0      0  0.343658
5      5  0.200000
4      4  0.000000
6      6  0.000000